body{
    background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(134deg, rgb(19,194,234),rgb(103, 7, 215));
}
.designation{
    font-size: 20px;
}
.badge{
    background-color: black;
}
.contact-icon{
    color: black;
    transition: 0.2s all;
}
.contact-icon:hover{
    color:white;
    font-size: 40px;
} 
h2.title{
    color: black;
} 
.card{
    height: 80px;
    color: white;
    background-color:#221140;
    margin: 1em 0;
    font-size: large;
    text-decoration: none;
    transition:.3s all;
}
.card:hover{
    box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.7);
    transform:scale(1.03);
}
.card-title-link{
    text-decoration: none;
    color: white;
}
.card:hover .card-title-link{
    border-bottom: 2px solid rgb(218, 178, 255);
    color: white;
}
.white-icon{
    color: white;
    margin: 3px;
    font-size: 30px;
}
.info-icon{
    margin: 0 10px;
}
.info-link{
    display:none;
    color: rgb(19 194 234);
}
.info-link:hover{
    opacity:0.9;
}
.card:hover .info-link{
    display:inline-block;
}
/* We’ll apply the current CSS properties to all the children of the parent when the parent is in the hover state. */
.prj-link-icon:hover > a {
    opacity: 0.5;
    transition: .3s all ease-in-out;
  }
  /* Then when the parent is hovered and the individual child is hovered, we bump the opacity back up, giving the final effect we are looking for. */
.prj-link-icon:hover > a:hover {
    opacity: 1.0;
}
.row:hover > .column{
    opacity: 0.8;
}
.row:hover > .column:hover{
    opacity: 1;
}
.hover-zoomin a {
    display: block;
    position: relative;
    overflow: hidden;
}
.hover-zoomin img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.hover-zoomin:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.img-link{
    border-radius: 5px;
}
.btn{
    border-radius: 10rem;
}
.viewSiteBtn{
    color: #221140 ;
    border-color: #22114036;
}
.viewSiteBtn:hover{
    background-color: #221140 ;
}
.viewCodeBtn{
    color: #46064e;
    border-color: #4a0a6b2e;

}
.viewCodeBtn:hover{
    background-color: #46064e;
    color: white;
}
.modal-header{
    border-bottom: none;
}
.modal-footer{
    border-top: none;
}
@media (max-width: 410px) {
    .contact-icon{
        font-size: 22px;
    }  
    .card{
        margin: 0.3em 0;
        height: 60px;
    }
    .card-body{
        padding: 0.3rem;
    }
    .card-title{
        font-size: 1rem;
    }
    .info-icon{
        margin: 0 1px;
    }
    .white-icon{
        font-size: 20px;
    }
}
