body{
    background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(134deg, rgb(19,194,234),rgb(103, 7, 215));
    color: black;
    position: relative;
}
.navbar{
    background: #a500f9;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    box-shadow: -1px 2px 12px 2px #295fd6;
}
.navi-link{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    height: 30px;
    text-align: center;
}
.navi-link:hover{
    text-decoration: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
} 
h1.name, .about-title{
    font-weight: 800;;
    font-size: 3rem;
}
.name-container{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 0 2em;
    margin-top: 20vh;
}
.name-para{
    font-size: 1.5rem;
}
.designation, .des{
    font-size: 25px;
}
.badge{
    background-color: black;
    font-size: 17px;
    padding: 0.5em 1em;
    margin-bottom: 10px;
}
.contact-icon{
    color: black;
    transition: 0.2s all;
}
.contact-icon:hover{
    color:white;
    font-size: 35px;
} 
h2.title{
    color: black;
    font-weight: 700;
}
.card{
    cursor: pointer;
    height: 80px;
    color: white;
    background-color:#221140;
    margin: 1em 0;
    font-size: large;
    text-decoration: none;
    transition:.3s all;
}
.card:hover{
    box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.7);
    transform:scale(1.03);
}
.card-title-modal-link{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.card:hover .card-title-modal-link{
    border-bottom: 2px solid rgb(218, 178, 255);
    color: white;
    text-decoration: none;

}
.white-icon{
    color: white;
    margin: 3px;
    font-size: 30px;
}
.info-icon{
    margin-left: 5px;
    display:none;
    color: rgb(19 194 234);
}
.info-icon:hover{
    opacity:0.9;
}
.card:hover .info-icon{
    display:inline-block;
}
/* We’ll apply the current CSS properties to all the children of the parent when the parent is in the hover state. */
.prj-link-icon:hover > a {
    opacity: 0.5;
    transition: .3s all ease-in-out;
  }
  /* Then when the parent is hovered and the individual child is hovered, we bump the opacity back up, giving the final effect we are looking for. */
.prj-link-icon:hover > a:hover {
    opacity: 1.0;
}
.row:hover > .column{
    opacity: 0.8;
}
.row:hover > .column:hover{
    opacity: 1;
}
.hover-zoomin a {
    display: block;
    position: relative;
    overflow: hidden;
}
.hover-zoomin img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hover-zoomin:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.certificate-link{
    border-radius: 5px;
}
.certificate-card{
    height: inherit;
    border: none;
}
.btn{
    border-radius: 8px;
}
.viewSiteBtn{
    background-color: #b23cfd;
    color: white ;
    border:none
}
.viewSiteBtn:hover{
    background-color: #a316fd;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}
.viewCodeBtn{
    background-color: #007bff;
    color: white;
    border: none;
}
.viewCodeBtn:hover{
    background-color: #0e6ed4;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);

}
.modal-header{
    border-bottom: none;
    background-color: #7d4ffe;
    color: white;
}
.modal-title{
    font-weight: 700;
}
.modal-body{
    padding: 2rem 1rem 0 1rem;
}
.modal-footer{
    border-top: none;
}
.modal-dialog .close{
    color: white;
    text-shadow: none;
}
.email{
    color: white;
}
.email:hover{
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 2px solid whitesmoke;
}
.des{
    background: rgba(255, 255, 255, 0.5);
    padding: 2em 3em;
    border-radius: 10px;
}
.email-text{
    font-size: large;
}

/*................ Media Query...................... */
@media (max-width: 467px) {
    h1.name{
        font-size: 1.8rem;
    }
    .designation{
        font-size: 18px;
    }
    .contact-icon{
        font-size: 32px;
    }
    .contact-icon:hover{
        font-size: 25px;
    }
    h2.title{
        font-size: 1.4rem;
    }  
    .card{
        margin: 0.5em 0;
        height: 60px;
    }
    .card-body{
        padding: 0.6rem;
    }
    .card-title{
        font-size: 1rem;
    }
    .info-icon{
        margin-left: 4px;
    }
    .white-icon{
        font-size: 20px;
    }
    .certificate-card{
        height: inherit;
    }
    .name-para{
        font-size: 1rem;
    }
    .badge{
        font-size: 15px;
    }
}
